body {
  background: url(https://www.maxpixel.net/static/photo/1x/Meteorology-Cumulonimbus-Storm-Hunting-Thunderstorm-3196008.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color:
  #43596d;
}

.scared-icon {
  height: 25px;
}

.scary {
  background-color: maroon;
  color: yellow;
}

#option-toolbar > li {
  margin-top: 7px;
  margin-left: 2px;
}