body {
  background: url(https://www.maxpixel.net/static/photo/1x/Meteorology-Cumulonimbus-Storm-Hunting-Thunderstorm-3196008.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color:
  #43596d;
}

.scared-icon {
  height: 25px;
}

.scary {
  background-color: maroon;
  color: yellow;
}

#option-toolbar > li {
  margin-top: 7px;
  margin-left: 2px;
}

.weather-icon {
  width: 100px;
}

.weather-status {
  font-size: 1.5em;
  color: black;
}

#city-name {
  color: #d5c3f0;
  font-size: 5em;
}

#current-weather-container {
  border: 2px yellow solid;
  height: 300px;
}

.delete-card {
  font-size: 3em;
  font-weight: bold;
  color: maroon;
}